.site-title {
    font-size: 1.2em;
    font-weight: bold;
}
.about {
    text-align: center;
}
.about .article-title {
    visibility: hidden;
    height: 0px;
}
.about .article-title-bottom {
    visibility: hidden;
    height: 0px;
}
.about .author-name {
    font-size: 1.5em;
}
.about li {
    list-style: none;
    padding-bottom: 1em;
}