pre, code {
    font-family: "Operator Mono SSm A", "Operator Mono SSm B", "Source Code Pro", Menlo, Consolas, Monaco, monospace;
    background-color:rgb(27, 27, 27);
    color: rgb(255, 255, 255);
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    font-weight:400;
    hyphens:none;
    line-height:28px;
    margin-top: 9px;
    margin-bottom: 19.605px;
    min-width:100px;
    overflow-wrap:break-word;
    overflow-x:auto;
    overflow-y:hidden;
    white-space:pre;
    word-break:normal;
}
pre {
    padding: 4px 8px;
}
:not(pre) > code {
    padding: 2px 4px;
    margin: 0 2px;
}
/* Code highlight */
.highlight pre, .highlight code {
    background-color: inherit;
    padding: 0;
}

@import url(./syntax-monokailight.css) (prefers-color-scheme: light);
@import url(./syntax-monokai.css) (prefers-color-scheme: dark);